<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrasenejecucion</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/icono.png" type="image/png">
</head>
<body>

<!-- header -->
        <header>
            <div>
            <h1>OBRAS PUBLICAS</h1>
            <H2>OBRAS EN EJECUCION</H2>  
            </div>
                </header>
    
<!-- nabvar-->
        <nav class="nabvar">
            <a href="#">INICIO</a>
            <a href="../../index.html">PAG. PRINCIPAL</a>
            <a href="./Carga_licitaciones.php">LICITACIONES</a>
            <a href="./obrasaejecutarce.html">OBRAS A EJECUTARCE</a>
        </nav> 

<!-- Parte principal Obras en ejecucion-->
<div class="Principal"> 
<aside class="OAEJ">
    <H3>Seguimiento de obra N° 1</H3>
    <p> detalles basisco de la obra</p>
    <img src="../img/images (1).jpg" alt="" width="95%"><img>
    <img src="../img/curva control OB1.jpg" alt="" width="95%"><img>
</aside>   


<main class="OAEJ1">
    <H3>Seguimiento de obra N° 2</H3>
    <p> detalles basisco de la obra</p>
    <img src="../img/images (1).jpg" alt="" width="95%"><img>
    <img src="../img/curva control OB1.jpg" alt="" width="95%"><img>
</main>  
</div> 

<!-- footer-->
<footer>
    <h4>Nicolas Yarza, potrero digital 2024</h4>
        </footer>

</body>
</html>