<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrasaejecutar</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/icono.png" type="image/png">
</head>
<body>
        <!-- header -->
        <header>
            <div>
            <h1>OBRAS PUBLICAS</h1>
            <H2>OBRAS A EJECUTARCE</H2>  
            </div>
                </header>
        <!-- nabvar-->
        <nav class="nabvar">
            <a href="#">INICIO</a>
            <a href="../../index.html">PAG. PRINCIPAL</a>
            <a href="./Carga_licitaciones.php">LICITACIONES</a>
            <a href="./Obrasenejecucion.html">OBRAS EN EJECUCION</a>  
        </nav> 
<!-- Parte principal Obras a ejecutar-->
<div class="Principal"> 
    <aside class="OPEJ">
        <fieldset>
        <H3>Obra de Pavimento en Barrio Bicentenario</H3>
        <h4>Comienza el dia 15/07/2024</h4>
        <ol>
            <li>Plazo de obra: 120 dias</li>
            <li>Monto de obra: $ 1.000.000,00</li>
            <li>Empresa ejecutora: Construcciones S.A.</li>
            <li>Representante tecnico: Ing. Cosme Fulanito</li>
        </ol>
        <img src="../img/images (1).jpg" alt="" width="95%"><img>
    </fieldset>
    </aside>   
    
    
    <main class="OPEJ1">
        <fieldset>
        <H3>Obra de cloacas en el Barrio Hermoso</H3>
        <h4>Comienza el dia 15/07/2024</h4>
        <ol>
            <li>Plazo de obra: 120 dias</li>
            <li>Monto de obra: $ 1.000.000,00</li>
            <li>Empresa ejecutora: Construcciones S.A.</li>
            <li>Representante tecnico: Ing. Cosme Fulanito</li>
        </ol>
        <img src="../img/images (1).jpg" alt="" width="95%"><img>
    </fieldset>
    </main>  
    </div> 

    <!-- footer-->
<footer>
    <h4>Nicolas Yarza, potrero digital 2024</h4>
        </footer>        

</body>
</html>