<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrasenejecucion</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../img/icono.png" type="image/png">
</head>
<body>
<!-- header -->
 <header>
    <div>
    <h1>SOLO ADMINISTRADOR</h1>
    <H2>PARA LOGEARTE</H2>  
    </div>
    </header>

<!-- nabvar-->
<nav class="nabvar">
    <a href="#">INICIO</a>
    <a href="../../index.html">PAG. PRINCIPAL</a>
</nav> 
</body>
 
    <main class="form-signin">
    <h1 class="h3">LOGEO</h1>
    <form method = "POST" action="./LOG_ADMIN.php">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="USUARIO" placeholder="USUARIO" required>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password" required>
      </div>
      <button class="w-100 btn btn-lg" type="submit">Confirmar</button>
      
      <button class="w-100 btn btn-lg" type="reset" >Borrar</button>
    </main>
    </form>

<!-- footer-->
<footer>
  <h4>Nicolas Yarza</h4>
  <h5>Potrero digital 2024</h5>

</body>
</html>